/* 
    Document   : defaultStyle
    Created on : May 3, 2012, 12:35:42 PM
    Author     : Joseph Areeda <joe@areeda.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    font-family: 'Times New Roman',Times,serif;
    font-size: 1em;
}
html,body {
    height:100%;
}
th{
    text-align:center;
    font-family:arial;
    font-weight: bold;
    background-color: #33ffff;
}

.chanSelList{
    width: 250px;
}
.chanSelList option{
    width: 250px;
}
.chanSelList2{
    width: 150px;
}
.chanSelList2 option{
    width: 150px;
}
#continueButton {
    background-color: #336699;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    height: 44px;
    width: auto;
}
#continueBtnAux {
    background-color: #3a74ae;
    border-radius: 8px;
    color: white;
    font-weight:  normal;
    height: 38px;
    width: auto;
}
.buttonLink {
    
    border-radius: 6px;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-weight:  bold;
    height: 38px;
    width: auto;
    
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.buttonLink2 {

    border-radius: 6px;
    height: auto;
    width: auto;

    background-color: #f8f8f8;
    color: black;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.closeButton
{
    float: right;
}
.linkRow {
    height: 32px;
    border: hidden;
}
.plotSelector {
    
}
.processStep {
    font-size: 1.3em;
    font-weight:bold;
    background-color: transparent;
}
.SelectorTable{
    border: hidden;
    padding: 5px;
    background-color: transparent;
}
.hdrTable{
    border: hidden;
    padding: 0px 14px;
}
#hdrTxt{
    border: hidden;
    vertical-align: middle;
    text-align: left;
}
#hdrImg{
    border: hidden;
    vertical-align: middle;
    padding-right: 14px;
}
.noborder{
    border: hidden;
    background-color: transparent;
}
.header {
    overflow: auto;
}
.footer {
    overflow: hidden;
    font-size: 11px;
    text-align: center;
}

#pageTitle{
    font-family:arial; 
    font-size: 1em;
}
div#quicksearch {
    display: inline;
    float: right;
    margin: 10px;
}

#quicksearch form {
    display: inline;
    padding-left: 10px;
}
#statsTbl {
    padding: 30px 10px 10px 10px;
    border: 2px solid darkblue;
    border-style: solid;
}
#warnDiv {
    border-width: 4px;
    border-style: dashed;
    border-radius: 20px;
    padding: 20px;
    border-color: orangered;
    background-color: lemonchiffon;
}

#warnTitle {
    color: red;
    font-size-adjust: 1;
    text-align: center;
}
#nav {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
    background-color: #336699;
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc;
}
#nav .nav_user {
    float: right;
    color: #FFF;
    margin-right: 10px;
    display: block;
    padding: 8px 15px;
}
#nav .navitem {
    float: left;
}
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    border-right: 1px solid #ccc;
}
#nav li a:hover {
    color: #000;
    background-color: #FFF;
}

div#content {
    margin: 10px;
}
#secTitle {
    font-weight: bold;
    text-decoration: underline;
}
#badState {
    font-weight: bolder;
    font-size: 125%;
    color:  red;
}
#badState2 {
    font-weight: bold;
    color: red;
}
#goodState {
    font-weight: bolder;
    font-size: 125%;
    color:  green;
}
#goodState2 {
    font-weight: bold;
    color: green;
}
.title {
    font-size: 1.4em;
    font-weight: bold;
    display: inline;
}
table
{
    border-collapse: collapse;
}
table.values th {padding:3px;border:1px solid black;border-collapse: collapse;text-align:center;vertical-align:bottom;}
table.values {border-bottom:1px solid gray;}

td, th {padding:3px;border: 1px solid black;;border-collapse:collapse;}
tr {text-align:left;background-color:#f0f0f0;color:#333;}
tr.bodd td {background-color:#edf3fe; padding-right: 12px;}
tr.codd td {background-color:#dce2ed;}
tr.odd td {background-color:#cbd1dc;padding-right: 12px;border-color: darkblue}
tr.even td {background-color:#fff;padding-right: 12px;border-color: darkblue}

table.channel_detail td:first-child { font-weight: bold; float: right; }
table td.description { color: red; }

html, body {
    margin: 3px;
    padding: 5px;
}
body {
    height: 100%;
}
table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody tr.odd td {
    background-color:#cbd1dc;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #d2dafd;
}
.repeatOptions{
    
}
.moreTimes {
    
}
.showCmd{
    text-decoration: underline;
    cursor: pointer;
}
/* help dialog settings */
.ui-dialog .ui-dialog-content {
    color: blue;
    background-color: lightyellow;
    border-radius: 16px;
    opacity: 40%;
}

.ui-dialog-title  {
    text-align: center;
}
.ui-dialog-titlebar-close {
    border: 1px;
    color: black;
    position: absolute;
    right: .3em;
    top: 50%;
    width: 17px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 19px;
    cursor: pointer;
        
}
td.imgtbl
{
    height: 100%;
}
.embimg
{
    width: 100%;
    height: 100%;
}

.helpDlg{
    color: darkblue;
    border: 2px; 
    background-color: lightyellow;
}
.helpTxt{
    display: none;
}
/* element for show hide */
.showHide
{
    display: none;
}
/* tool bar and menus */
.navrow   
{
    width: 100%;
    float: left;
    position: relative;
    padding: 4px;
    list-style: none;
    
    color: white;
    
}
/* user id is right justified */
.nav_user 
{
    float: left;
    background-color: #336699;
    padding: 6px 8px;
}
/* make the list horizontal */
.navitem 
{
    float: left;
}
/* these are the menu items give them space and a vertical separator */
/* a navitem is a link or a submenu */
.navitem a 
{
    padding: 6px 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;   
    border-right: 1px solid #ccc;
    background-color: #336699;
}
/* a not_navitem is information on the nav bar that doesn't highlight */
.not_navitem a 
{
    padding: 6px 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;   
    border-right: 1px solid #ccc;
    background-color: #336699;
}
/* highlight menu items on hover */
.navitem:hover a
{
    color: #336699;
    background-color: white;
}
/* hide drop down menus by default */
.navitem ul 
{
    display: none;
}
/* show drop down menus on hover */
.navitem:hover ul,
.navitem ul li a
{
    display: block;
    list-style: none;
    padding: 0px 4px;
    margin: 0;
    width: 9em;
    font-size: inherit;
}
.navMenu
{
    width: 9em;
}
/* highlight entries in the drop down menus on hover */
.navitem li a:hover
{
    color: black;
    background-color: yellow;
}
/* adjust the spacing in the drop down menus */
.navitem ul li,
.navitem ul li a
{
    width: auto;
    height: auto;
    padding: 0px 4px;
    
}
.inlineText
{
    display: inline;
}
body
{    
    /* For any browser that can't create a gradient  */
    background-color: #CFF3FC;
    
    /* if I can ever figure out how to get it not to repeat this should do a gradient
    background: linear-gradient(#FFFFFF, #CFF3FC);
    */
}
/* override some of the bootstrap theme settings */
button, input, select[multiple], textarea 
{
    display: inline;
    background-image: none !important;
}
input[type="file"] 
{
    display: inline;
}

/* this one displays the drop down menu on hover */
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }