<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Env</servlet-name>
        <servlet-class>edu.fullerton.ldvservlet.Env</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>edu.fullerton.ldvservlet.View</servlet-class>
        <init-param>
            <param-name>version</param-name>
            <param-value>0.2.0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>edu.fullerton.ldvservlet.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrcList</servlet-name>
        <servlet-class>edu.fullerton.ldvservlet.SrcList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Env</servlet-name>
        <url-pattern>/env</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrcList</servlet-name>
        <url-pattern>/SrcList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
